NEXT_PUBLIC_IOTA_PACKAGE_ID_DEVNET=0x
NEXT_PUBLIC_IOTA_PACKAGE_ID_TESTNET=0xd6d7831e7c64f78b814a5098458497b430867034f0f89fa3c9a357408d55a91a
NEXT_PUBLIC_IOTA_PACKAGE_ID_MAINNET=0x

NEXT_PUBLIC_IOTA_NOTARIZATION_PACKAGE_ID_DEVNET=0x
NEXT_PUBLIC_IOTA_NOTARIZATION_PACKAGE_ID_TESTNET=0xd6d7831e7c64f78b814a5098458497b430867034f0f89fa3c9a357408d55a91a
NEXT_PUBLIC_IOTA_NOTARIZATION_PACKAGE_ID_MAINNET=0x

NEXT_PUBLIC_ALLOWLIST=
NEXT_PUBLIC_DENYLIST=
